
body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color:#cabfb6;
}

div {
    background-color:white;
    margin: auto;
    width: 600px;
    padding: 0px 100px 60px;
}

h2 {
    font-family: 'Proza Libre', sans-serif;
}

img {
    width:600px;
}

a {
    text-decoration: none;
    color:black;
    background-color:#c9793b;
    padding: 5px 10px;
    border-radius: 5px;
}

.Explore {
    text-align:center;
}

a:hover {
    border: 1px solid black;
}

button {
    font-size: 20px;
    padding:5px 25px;
}

.apple {
    background-color:#b6bcca;
}

.android {
    background-color:#a4c93b;
}